VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="670a0a30002f690e493e"
VITE_APPWRITE_DATABASE_ID="670a886f0022afb92b0b"
VITE_APPWRITE_COLLECTION_ID="670a890900048aebe865"
VITE_APPWRITE_BUCKET_ID="670a8b850034aec3718f"